.main_pics__pics {
  padding: 5px;
  margin: 10px;
  width: 350px;
  height: 300px;
  border: solid;
  border-color: black;
}
.main_pics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.body {
  padding: 20px;
  border: solid;
  border-color: black;
 }

.text_blocks {
  display: block;
  border: solid;
  border-color: black;
}