.main_pics__pics {
  background-color: blue;
  padding: 5px;
  margin: 10px;
  width: 500px;
  height: 400px;
  border: solid;
  border-color: black;
}
.main_pics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.basic {
  background-color: lightgrey;
  padding: 20px;
 }
.blocks{
  background-color: lightskyblue;
  display: block;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-color: black;
}
.text_blocks {
  background-color: white;
  display: block;
  padding: 5px;
  margin: 10px;
  border: double;
  border-color: black;
  font-family: Century Gothic, sans-serif;
}

.grid {
  background-color: blue;
  border-collapse: separate;
  border-spacing: 5px;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-color: black;
}
.grid td {
  background-color: white;
  border: solid;
  border-color: black;
  width: 33.3%;
  vertical-align: top;
  padding: 0;
}
.text_blocks_inline {
  text-align: center;
  font-family: Century Gothic, sans-serif;
}

.main_title{
  border: solid;
  border-color: black;
  background-color: white;
  padding: 5px;
  margin: 10px;
}

.title {
  font-family: "Century Gothic", sans-serif;
  text-align: center;
}

.__show_display {
  background-color: white;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-color: black;
}
