.main_pics__pics {
  width: 450px;
  height: 400px;
  border: solid;
  border-color: black;
}
.main_pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.body {
  display: inline-block;
  width: 1550px;
  height: 850px;
  border: solid;
  border-color: black;
 }