.header {
  padding: 10px;
  border: solid;
  border-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  font-family: Arial, sans-serif;
  border: 1px solid black;
  background: yellow;
}

