.header {
  background-color: #05e0fc;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.button {
  font-family: Arial, sans-serif, white;
  border: 1px solid black;
  background: blue;
}

.nav {
  background-color: deepskyblue;
  padding: 15px;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
