@import '../src/header/__logo/header__logo';
@import '../src/header/header';
@import '../src/header/__logIn/header__logIn';
@import '../src/body/body__imgs';
@import '../src/header/__search/header__search';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');



@media screen, print {
  body {
    font-family: 'Comic Neue', cursive;
    line-height: 1.5;
  }
  h1 {
    line-height: 60%;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
  }
}

$body-color: #05e0fc;

body {
  background-color: $body-color;
}
/*@media (hover: hover) {
}

@media screen and (min-width: 30em) and (orientation: landscape) {

}*/



