@import '../src/header/__logo/header__logo';
@import '../src/header/header';
@import '../src/header/__logIn/header__logIn';
@import '../src/body/body__imgs';
@import '../src/header/__search/header__search';


@media screen, print {
  body {
    line-height: 1.5;
  }
  h1 {
    line-height: 60%;
  }
}

$body-color: darkblue;

body {
  background-color: $body-color;
}
/*@media (hover: hover) {
}

@media screen and (min-width: 30em) and (orientation: landscape) {

}*/



