.comment-block {
  display: flex;
  .comment {
    margin: 0 auto;
    background: url("https://avatars.mds.yandex.net/get-pdb/2126974/70bab550-1572-4046-aa34-6f1f98f9005d/s1200");
    background-size: 100% 100%;
    background-position: center;
    color: #ffffff;
  }
}
.comment_text a{
  color: white;
  &:hover {
    color: #b10dc9;
  }
}
.logo {
  background-color: #8A2BE2;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-color: black;
}

.helper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.button_code {
  border-radius: 12px;
  color: black;
  padding: 16px 12px;
  font-size: 16px;
}

.cons {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}