.comment-block {
  display: flex;
  .comment {
    margin: 0 80px;
    background: url("https://avatars.mds.yandex.net/get-pdb/2126974/70bab550-1572-4046-aa34-6f1f98f9005d/s1200");
    background-size: 100% 100%;
    background-position: center;
    width: 20%;
    color: #ffffff;
  }
}